@model TryLogin.ViewModel.ManageVM

@{
    ViewBag.Title = "Create User Sms Management System";
    Layout = (int)Session["Role_Id"] == 1 ? "~/Views/Shared/_LayoutAdmin.cshtml" : "~/Views/Shared/_LayoutUser.cshtml";
}

@*<h2>@((int)Session["Role_Id"] == 1 ? "Admin" : "User")</h2>*@
@Styles.Render("~/Content/css3")
@Scripts.Render("~/bundles/modernizr")
<style>
    body {
        background: url('/images/2.jpg') no-repeat 100% 100% !important;
        background-size: cover !important;
        background-attachment: fixed !important;
    }
</style>
<br />
<br />
<br />
<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html lang="zxx">

<head>
    <title>Full Screen Enroll Form Responsive Widget Template :: w3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Full Screen Enroll Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Meta tag Keywords -->
    <!-- css files -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext"
          rel="stylesheet">
    <!-- //web-fonts -->
</head>


<div class="row">
    <div class="sub-main-w3" style="background: url('/images/2.jpg') no-repeat 100% 100%; background-size: cover; min-height: auto !important; padding-bottom: 20% !important">

        <h3>EDIT SMS REGISTRATION</h3>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-md-6">

            <div class="form-style-agile">
                <label>FullName </label>
                <div class="pom-agile">
                    <span class="fa fa-user"></span>
               
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                </div>

             
            </div>

            <div class="form-style-agile">
                <label>Address </label>
                <div class="pom-agile">
                    <span class="fa fa-location-arrow"></span>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Address)
                </div>

               
            </div>

            <div class="form-style-agile">
                <label>Email Address </label>
                <div class="pom-agile">
                    <span class="fa fa-envelope-o"></span>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.EmailAddress)
                </div>
             
            </div>
            <div class="form-style-agile">
                <label>OfficeName </label>
                <div class="pom-agile">
                    <span class="fa fa-building"></span>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.DropDownListFor(d => d.Officeid, new SelectList(Model.OfficeList, "Id", "Name"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Officeid)

                </div>
                @*@Html.ValidationMessageFor(model => model.CgppOffice, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="col-md-6">

            <div class="form-style-agile">
                <label>DivisionName </label>
                <div class="pom-agile">
                    <span class="fa fa-building"></span>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.DropDownListFor(d => d.Divisionid, new SelectList(Model.DivisionList, "Id", "Name"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Divisionid)
                </div>
                @*@Html.ValidationMessageFor(model => model.CgppDivision, "", new { @class = "text-danger" })*@
            </div>
            @*<div class="form-style-agile">
                <label>Username </label>
                <div class="pom-agile">
                    <span class="fa fa-users"></span>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>*@
        </div>

    </div>
            <div style="padding: 2% 0;">
                <button class="btn btn-primary" id="toastrSuccess">SAVE</button>
            </div>


            @Html.HiddenFor(o => o.UserID)





            <!--//main-->
            <!--footer-->
            <div class="footer-w3l">

            </div>
            <!--//footer-->
            <script src="~/Scripts/jquery.validate.js"></script>
            <script src="~/Scripts/jquery.validate.min.js"></script>
            <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
            <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        }


        </body>
</html>

@section scripts{

    <script type="text/javascript"></script>
}

@*@{
    ViewBag.Title = "Edit";
    Layout = (int)Session["Role_Id"] == 1 ? "~/Views/Shared/_LayoutAdmin.cshtml" : "~/Views/Shared/_LayoutUser.cshtml";
}
@Styles.Render("~/Content/css4")
@Scripts.Render("~/bundles/modernizr")
<html>
<body>

    @using (Html.BeginForm("Edit", "Manage", FormMethod.Post))
    {

        <div class="agileheader">
            <h1>Edit UserList</h1>
        </div>

        <div class="main-w3l">
            <div class="w3layouts-main" style="height: auto !important; width: 90% !important;">

                <div class="row">
                    <div class="form-group">
                        <div class="col-md-8 tom">
                            <label>FullName </label>

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-8 tom">
                            <label>Address </label>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-9 tom">
                            <label>Email Address </label>

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-8 tom">
                            @Html.DropDownListFor(d => d.Officeid, new SelectList(Model.OfficeList, "Id", "Name"), new { @class = "form-control" })
                            <label>OfficeName </label>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-8 tom">
                            <label>DivisionName </label>
                            @Html.DropDownListFor(d => d.Divisionid, new SelectList(Model.DivisionList, "Id", "Name"), new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-8 tom">
                            <label>Username </label>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-8 tom">
                            <label>Password </label>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
